
.basket {
	margin: 39px auto 44px;
	@include pad(0 15px);

	@include bp(min, $tablet-md-min) {
	    @include pad(0 30px);
	}

	&__container {

		@include bp(min, $tablet-md-min) {
		    margin: 39px auto;
		}

		@include bp(min, $desktop-sm-min) {
		    width: 920px;
		}
	}

	&__delivery-text {
		margin-top: 0;
		margin-bottom: 20px;
		@include font-size(24px);
    	@include line-height(30px);

    	@include bp(min, $tablet-md-min) {
		    margin-bottom: 42px;
		}
	}

	&__delivery-address {
		display: block;
		@include font-family('PFDinDisplayPro-Bold', arial);

		@include bp(min, $tablet-md-min) {
		    display: inline-block;
		}
	}

	&__table-wrapper {
		@include clearfix;
	}

	&__table {
		width: 100%;

		@include bp(max, $tablet-md-min - 1) {
    	    display: none;
    	}
	}

	&__controls {
		@include clearfix;
		margin-top: 40px;
		@include font-size(0);
	}

	&__btn-container {
		@include pad(0 30px);

		@include bp(min, $tablet-md-min) {
			float: left;
			@include pad(0);
		}
	}

	&__btn {
	    display: block;
	    width: 100%;
	    height: 50px;
	    margin-top: 15px;

	    @include pad(10px 12px 12px);
	    border: none;
	    background-color: $ternary-color;
	    color: #fff;
	    @include font-size(16px);
	    vertical-align: top;

	    @include bp(min, $tablet-md-min) {
		    display: inline-block;
		    width: 180px;
		    margin-top: 11px;
		    margin-right: 20px;
		}

	    @include bp(min, $desktop-sm-min) {
	    	width: 200px;
		    margin-right: 34px;
		}

		transition: background-color 0.3s;

	    &:hover {
	   		background-color: $secondary-color;
	      cursor: pointer;
	    }

	    &--buy {
	    	margin-right: 0;
	    	@include pad(10px 10px 12px);
	    	background-color: $main-color;
	    	@include font-size(24px);

	    	@include bp(min, $tablet-md-min) {
			    display: inline-block;
			    width: 216px;
			}

	    	@include bp(min, $desktop-sm-min) {
		    	width: 280px;
			}
	    }
	}

	&__icon-basket {
		display: inline-block;
	    height: 72px;
	    width: 90px;
	    margin-right: 17px;

	    background: transparent url('../images/icons/icons_kosmo_basket_orange.svg') no-repeat;
	    vertical-align: middle;
	}

	&__total-sum {
		@include pad(12px 0px 48px);
		@include font-size(20px);
		text-align: center;

		@include bp(min, $tablet-md-min) {
			display: inline-block;
		    float: right;
		    margin-right: 56px;
		    @include pad(0);
		}

		@include bp(min, $desktop-sm-min) {
		    margin-right: 63px;
		    @include font-size(24px);
		}
	}

	&__total-price {
		@include font-family('PFDinDisplayPro-Bold', arial);
	}

}
