

.buy {
	margin: 39px auto 44px;
	@include pad(0 15px);

	@include bp(min, $tablet-md-min) {
	  @include pad(0 30px);
	}

	&__container {

		@include bp(min, $tablet-md-min) {
		    margin: 39px auto;

		    width: 658px;
		}

		@include bp(min, $desktop-sm-min) {
		    // width: 920px;

		    // width: 658px;
		}
	}


	// TABLE
	&__table-wrapper {
		@include clearfix;
		display: none;

		@include bp(min, $tablet-md-min) {
			display: block;
		}
	}


	&__table-mobile-wrapper {
		margin-top: 27px;
		@include bp(min, $tablet-md-min) {
			display: none;
		}
	}


	&__table {
		width: 100%;

		max-width: 658px;
		margin: 0 auto;
	}

	&__table-mobile {
		width: 100%;
		margin: 0 auto;
	}

	&__product-name {
		margin-top: 0;
		margin-bottom: 32px;

		@include font-family('PFDinDisplayPro-Bold', arial);
		@include font-size(24px);
  		@include line-height(30px);

	  	@include bp(min, $tablet-md-min) {
	  		float: left;
	  		margin-top: -7px;
		    margin-bottom: 10px;
		    padding-left: 44px;
		}
	}



	// REGION SELECTION
	&__region {
		@include pad(2px 0 6px);
		border: 1px solid $alt;
		color: $text-secondary;
		@include font-size(0);

		@include bp(min, $tablet-md-min) {
			@include pad(0 0 8px);
	    border: none;
		}
	}

	&__region-text  {
		display: inline-block;
		width: 42%;
		// margin-bottom: 7px;
	    padding: 5px 0px 8px;

	    padding: 11px 0px 8px;

		@include font-size(14px);
		text-align: center;

		@include bp(min, $tablet-md-min) {
			width: auto;
		}
	}

	&__userbar-link {
    display: inline-block;
    width: 58%;
    // margin-bottom: 7px;
    padding: 3px 0px 8px;

    padding: 11px 0px 8px;

    border-left: 1px solid $alt;

    color: $text-secondary;
    @include font-size(14px);
    text-align: center;
    text-decoration: none;

    @include bp(min, $tablet-md-min) {
			width: auto;
			border: none;
		}

    span {
      word-wrap: break-word;
    }
  }



	&__userbar-icon {
		display: inline-block;
		// float: left;
		// height: 24px;
		vertical-align: middle;

		&--pos {
			width: 16px;
			height: 24px;
			margin-top: -3px;
			margin-right: 10px;
			background: transparent url('../images/icons/icons_kosmo_placemark.svg') no-repeat;

			@include bp(max, 380px) {
				display: none;
			}
		}

		&--arrow {
			// display: inline-block;
			// float: none;
			height: 6px;
			width: 21px;
			margin-left: 7px;
			background: transparent url('../images/icons/icons_kosmo_arrow.svg') no-repeat;
		}
	}

	&__city-text {
		display: inline-block;


		@include bp(min, $tablet-md-min) {
	    margin-right: 15px;
		}
  }





	&__controls {
		@include clearfix;
		margin-top: 24px;
		@include pad(0 15px);
		@include font-size(0);

		@include bp(min, $tablet-md-min) {
			display: inline-block;
		    @include pad(0 26px);
		}
	}

	&__total-sum {
		@include pad(12px 0px 48px);
		@include font-size(20px);
		text-align: center;

		@include bp(min, $tablet-md-min) {
			display: inline-block;
		    @include pad(0);
		}

		@include bp(min, $desktop-sm-min) {
		    @include font-size(24px);
		}
	}






	// MODAL WINDOW
	&__modal {
		display: none;
		width: 100%;

		max-width: 800px;

		margin: 89px auto 0;
		@include pad(25px 26px 33px);
		border: 1px solid $alt;

		box-shadow: 0 1px 10px 0 rgba(135, 135, 135, 0.75);

		@include bp(min, $tablet-md-min) {
			display: block;
		}
	}

	&__modal-controls {
		@include clearfix;
	}

	&__modal-container {
		@include pad(0 15px);
	}

	&__modal-close {
		float: right;
	}



	// MODAL MOBILE
	&__modal-mobile {
		@include bp(min, $tablet-md-min) {
			display: none;
		}
	}

	&__btn {
	    display: block;
	    width: 100%;
	    height: 50px;
	    margin-top: 15px;

	    @include pad(10px 12px 12px);
	    border: none;
	    background-color: $main-color;
	    color: #fff;
	    @include font-size(16px);
	    vertical-align: top;

			transition: background-color 0.3s;

	    &:hover {
	   		background-color: $secondary-color;
	      cursor: pointer;
	    }
	}
}
