

.footer {
  // height: 500px;

  background-color: $ternary-color;

  color: $text-reverse;
  font-family:'PFDinDisplayPro-Regular', arial, sans-serif;

  &__container {
    @include pad(14px 30px 65px);

    @include bp(min, $tablet-md-min) {
      @include outer-container($container-md-small);
      @include clearfix;
      @include pad(0 30px 45px);
    }

    @include bp(min, $desktop-sm-min) {
      @include outer-container($container-md);
    }

    @include bp(min, $desktop-lg-min) {
      @include outer-container($container-lg);
    }
  }


  &__row {
    width: 100%;
    @include row();
    padding-bottom: 40px;

    @include bp(min, $tablet-md-min) {
      padding-bottom: 30px;
    }
  }

  &__column {

    @include pad(20px 0);

    @include bp(min, $tablet-md-min) {
      @include pad(25px 0);
      @include span-columns(3);
      width: 25%;
      margin-right: 0;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 9px;
    border-bottom: 1px solid $text-reverse;

    font-family:'PFDinDisplayPro-Bold', arial, sans-serif;
    @include font-size(16px);
    @include line-height(24px);

    @include bp(min, $tablet-md-min) {
     width: 70%;
    }
  }

  &__link-list {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
  }

  &__link {
    display: block;
    padding: 6px 0;
    color: $text-reverse;
    @include line-height(20px);
    text-decoration: none;
  }

  &__icon-arrow {
    float: right;
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-top: 10px;
    background: transparent url('../images/icons/icons_kosmo_arrow-white.svg') no-repeat;

    @include bp(min, $tablet-md-min) {
     display: none;
    }
  }

  &__warning-text {
    // margin-top: 20px;
  }


}
