
.form {

	@include clearfix;

	&__fields {
		@include clearfix;
	}

	&__left-side {
		@include bp(min, $tablet-md-min) {
			float: left;
			width: 54%;
		}

		&--mobile {
			@include bp(min, $tablet-md-min) {
				display: none;
			}
		}

		&--desktop {
			display: none;

			@include bp(min, $tablet-md-min) {
				display: block;
			}
		}
	}

	&__right-side {
		@include pad(0 0 0);
		@include font-size(0);

		@include bp(min, $tablet-md-min) {
			float: right;
			width: 46%;
			@include pad(0 0 0 30px);
		}
	}


	&__group {
		margin-bottom: 15px;
		color: $text-main;
		@include font-size(16px);
		@include line-height(24px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__input-label {
		display: block;
	}

	&__label-text {
		display: inline-block;
		margin-left: 12px;
		margin-bottom: 8px;
	}

	&__input {
		display: block;
		width: 100%;
		height: 40px;
		@include pad(10px 12px);
		border: 1px solid $alt;

		&:focus {
			border: 1px solid $main-color;
			outline: none;
		}
	}

	&__textarea {
		width: 100%;
		max-height: 301px;
		margin-top: 38px;
		@include pad(10px 12px 25px);
		border: 1px solid $alt;
		
		@include font-size(16px);
		@include line-height(24px);

		resize: none;

		@include bp(min, $tablet-md-min) {
			max-height: 270px;
			margin-top: 32px;
		}

		&:focus {
			// max-height: 270px;
			border: 1px solid $main-color;
			outline: none;
		}

		&--receipt {
			max-height: 301px;

			@include bp(min, $tablet-md-min) {
				max-height: 215px;
			}
		}
	}


	&__controls {
		@include clearfix;
		@include font-size(0);

		@include bp(min, $tablet-md-min) {
			margin-top: 35px;
		}
	}

	&__btn {
		display: inline-block;
		width: 100%;
		height: 50px;
		margin-top: 23px;

		@include pad(10px 12px 12px);
	    border: none;
	    
	    background-color: $main-color;
	    color: #fff;
	    @include font-size(16px);
	    vertical-align: top;

	    transition: background-color 0.3s;

	    @include bp(min, $tablet-md-min) {
			float: left;
			height: 40px;
			width: 180px;
			margin-top: 0;
		}

	    &--secondary {
	    	background-color: $ternary-color;
	    }

	    &--right {
	    	@include bp(min, $tablet-md-min) {
				float: right;
			}
	    }

	    &:hover {
	   		background-color: $secondary-color;
	      	cursor: pointer;
	    }
	}

	 
	// Checkbox with custom style
	&__checkbox-container {
		display: inline-block;
		// margin: 0px 0 8px;
		@include pad(19px 0 26px);

		@include font-size(0);

		@include bp(min, $tablet-md-min) {
			// margin: 8px 0 28px 8px;

			@include pad(8px 0 28px 8px);
		}
	}

	&__checkbox-wrapper {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-right: 20px;
		border: 1px solid $alt;

		@include bp(min, $tablet-md-min) {
			width: 20px;
			height: 20px;
			margin-right: 13px;
		}
	}

	&__label-helper {
		display: inline-block;
		width: 39px;
		height: 39px;
		opacity: 0;
		cursor: pointer;

		@include bp(min, $tablet-md-min) {
			width: 19px;
			height: 19px;
		}

		&:after {
			content: '';
		    width: 30px;
		    height: 13px;
		    position: absolute;
		    top: 8px;
		    left: 4px;
		    border: 5px solid $text-main;
		    border-top: none;
		    border-right: none;
		    background: transparent;
		    transform: rotate(-45deg);

		    @include bp(min, $tablet-md-min) {
		    	top: 4px;
		    	left: 4px;
				width: 12px;
		    	height: 6px;
		    	border: 3px solid $text-main;
		    	border-top: none;
		    	border-right: none;
			}
		}
	}

	&__checkbox-label {
		display: inline-block;
		margin-top: 8px;
		@include font-size(16px);
		@include line-height(20px);
		cursor: pointer;
		vertical-align: top;

		@include bp(min, $tablet-md-min) {
			margin: 0;
		}
	}

	&__checkbox {
		display: none;
	    &:checked + label {
	      opacity: 1;
	    } 
	}

	&__captcha {
		margin-top: 26px;
	}

	&__captcha-box {
		width: 244px;
		height: 61px;
		margin: 38px auto 19px;
		background: transparent url('../images/captcha.png') 0 0 no-repeat;

		@include bp(min, $tablet-md-min) {
			margin: 0 auto;
		}
	}
}