.header {

  &__wrapper {
    height: 100px;

    // max-width: 1170px;

    @include bp(min, $tablet-md-min) {
      height: 90px;
    }

    @include bp(min, $desktop-sm-min) {
      height: 110px;
    }

    @include bp(min, $desktop-lg-min) {
      height: 123px;
    }
  }

  &__wrapper-fixed {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    // height: 52px;
    z-index: 100;
    height: 100px;

    transition: all 0.5s;

    // box-shadow: 0px 0 3px 0 $main-color;

    @include bp(min, $tablet-md-min) {
      position: static;
      height: 90px;
      top: -90px;
    }

    @include bp(min, $desktop-sm-min) {
      height: 110px;
    }

    @include bp(min, $desktop-lg-min) {
      height: 122px;
    }

    @include clearfix;


    &--scrolled {
      position: fixed;
      top: 0;

      @include bp(min, $tablet-md-min) {
        height: 90px;

        .header__container-fluid { // only here
          width: 99.9%;
          height: 90px;
          margin: 0 auto;
          box-shadow: 0 2px 2px 0 rgba(135, 135, 135, 0.75);
        }

        .header__logo {
          width: 90px;
          margin: 12px 23px 0 0;
        }

        .header__middle-part {
          width: 57%;
        }

        .header__userbar { // only here
          display: none;
        }

        .header__search-desk { // only here
          margin-top: 20px;
        }

        .header__search-container {
          width: 58.5%;
        }

        .header__basket-link {
          width: 200px;
          height: 50px;
          margin-top: 20px;
          padding: 10px 10px 0;
        }

        .header__icon-basket {
          display: inline-block;
          height: 30px;
          width: 30px;
          margin: 0 10px 0 0;
        }
      }

      @include bp($tablet-md-min, $tablet-max) {
        .header__logo {
          margin: 17px 15px 0 0;
        }

        .header__middle-part {
          width: 60%;
        }

        .header__search-container {
          width: 61%;
        }

        .header__search-input {
          height: 50px;
          width: calc(100% - 47px);
        }

        .header__search-button {
          height: 50px;
          width: 48px;
        }

        .header__recipe-upload {
          width: 150px;
          height: 50px;
          padding-top: 14px;
        }
      }


      @include bp(min, $desktop-sm-min) {
        .header__logo {
          width: 100px;
          margin: 12px 23px 0 0;
        }

        .header__middle-part {
          width: 60%;
        }

        .header__search-container {
          width: 66%;
        }

        .header__basket-link {
          width: 240px;
        }
      }

      @include bp(min, $desktop-lg-min) {
        .header__middle-part {
          width: 65%;
        }

        .header__search-container {
          width: 70.5%;
        }

        .header__basket-link {
          width: 264px;
        }
      }


    }
  }

  &__top {
    @include pad(5px 6px 7px);
    height: 53px;
    margin-bottom: -2px;
    background-color: #fff;

    @include font-size(0);
    text-align: justify;

    @include bp(min, 380px) {
      @include pad(5px 15px 7px);
    }

    @include bp(min, $tablet-md-min) {
      @include outer-container($container-md-small);
      @include clearfix;
      @include pad(0 30px);
      height: auto;
    }

    @include bp(min, $desktop-sm-min) {
      @include outer-container($container-md);
    }

    @include bp(min, $desktop-lg-min) {
      @include outer-container($container-lg);
    }

    &:after {
      width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
  }




  // LOGO
  &__logo {
    display: inline-block;
    width: 64px;

    @include bp(min, $tablet-md-min) {
      float: left;
      width: 124px;
    }

    @include bp(min, $desktop-sm-min) {
      width: 155px;
    }

    @include bp(min, $desktop-lg-min) {
      width: 177px;
    }
  }
  // LOGO END




  // MIDDLE PART (CONTAINER FOR USERBAR + DESKTOP SEARCH)
  &__middle-part {
    float: right;

    @include bp($breakpoint-xsmall-default, $tablet-md-min - 1) {
      width: 54%;
      text-align: right;
    }

    @include bp(min, $tablet-md-min) {
      float: left;
    }

    @include bp(min, $desktop-sm-min) {
      width: 61%;
    }

    @include bp(min, $desktop-lg-min) {
      width: 61%;
    }
  }
  // MIDDLE PART




  // BASKET
  &__basket {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid $text-secondary;

    float: right;


    @include bp($breakpoint-xsmall-default, $tablet-md-min - 1) {
      padding-left: 3%;
      margin-left: 3%;
    }

    @include bp(min, $tablet-md-min) {
      float: right;
      border-left: none;
      @include pad(0);
    }
  }

  &__basket-text {
    display: inline-block;

    @include bp(min, $tablet-md-min) {
      color: $text-reverse;
    }
  }

  &__basket-link {
    display: inline-block;
    margin-top: 6px;
    padding-bottom: 6px;

    color: $text-main;
    @include font-size(16px);
    text-decoration: none;

    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
    }

    @include bp(min, $tablet-md-min) {
      width: 140px;
      height: 90px;
      margin-top: 0;
      padding-top: 8px;
      padding-bottom: 0;
      background-color: $main-color;

      &:hover {
        background-color: $secondary-color;
      }
    }

    @include bp(min, $desktop-sm-min) {
      width: 180px;
      height: 110px;
      padding-top: 14px;
    }

    @include bp(min, $desktop-lg-min) {
      width: 211px;
      height: 122px;
      padding-top: 22px;
    }

  }

  &__icon-basket {
    display: inline-block;
    width: 37px;
    height: 28px;
    margin-right: 1px;

    background: transparent url('../images/icons/icons_kosmo_basket_orange.svg') no-repeat;
    vertical-align: middle;

    @include bp(min, $tablet-md-min) {
      display: block;
      height: 40px;
      width: 54px;
      margin: 0 auto 10px;
      background: transparent url('../images/icons/icons_kosmo_basket_white.svg') no-repeat;
    }

    @include bp(min, $desktop-sm-min) {
      height: 50px;
      width: 62px;
      margin: 0 auto 14px;
    }
  }

  &__in-basket-text {
    display: none;

     @include bp(min, $tablet-md-min) {
      display: inline-block;
    }
  }
  // BASKET END




  // MENU BUTTON
  &__button-container {
    display: inline-block;
    vertical-align: top;

    border-right: 1px solid $text-secondary;

    @include bp($breakpoint-xsmall-default, $tablet-md-min - 1) {
      padding-right: 3%;
      margin-right: 3%;
    }

    @include bp(min, $tablet-md-min) {
      display: none;
    }
  }

  &__button {
    position: relative;
    margin-top: -1px;
    padding: 9px 10px 8px;

    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: $text-main;

      &:before {
        content: "";
        display: block;
        width: 4px;
        height: 2px;
        margin-left: -7px;
        background-color: $text-main;
      }

      + .icon-bar {
        margin-top: 8px;
      }
    }
  }
  // MENU BUTTON END




  // USERBAR
  &__userbar {
    @include clearfix;

    float: right;
    vertical-align: top;
    height: 30px;

    text-align: center;
    font-size: 0;

    @include bp($breakpoint-xsmall-default, $mobile-max) {
      max-width: 50%;
    }

    @include bp(min, $tablet-md-min) {
      float: none;
      display: block;
      margin-top: 10px;
    }

    @include bp(min, $desktop-sm-min) {
      height: 40px;
      // margin-right: 13px; //?
      text-align: justify;

      &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
      }
    }

    @include bp(min, $desktop-lg-min) {
      margin-top: 16px;
    }
  }

  &__userbar-link {
    display: inline-block;
    padding: 5px 0px 8px;

    color: $text-secondary;
    @include font-size(13px);
    text-align: center;
    text-decoration: none;

    @include bp(max, 400px) {
      max-width: 122px;
    }

    @include bp(401px, $mobile-sm) {
      max-width: 140px;
    }

    @include bp($mobile-sm + 1, $breakpoint-xsmall-default) {
      max-width: 180px;
    }

    @include bp(min, $tablet-md-min) {
      @include font-size(14px);
    }

    @include bp(min, $desktop-sm-min) {
      padding-left: 10px;
      padding-right: 10px;
    }

    span {
      vertical-align: bottom;

      word-wrap: break-word;

      @include bp(min, $tablet-md-min) {
        vertical-align: middle;
      }
    }


    &--city {
      @include bp(max, $breakpoint-xsmall-default) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include bp(min, $tablet-md-min) {
        margin-left: 22px;
      }
    }

    &--tel {
      display: none;
    }

    &--map {
      display: none;
      margin-left: 6px;
      @include font-size(16px);
    }

    &--tel,
    &--map {
      @include bp(min, $tablet-md-min) {
        display: inline-block;
      }
    }

    &:first-child {
      @include bp(min, $tablet-md-min) {
         padding-left: 0;
      }
    }
  }

  &__userbar-icon {
    display: inline-block;
    float: left;
    height: 24px;
    vertical-align: middle;

    &--pos {
      width: 16px;
      margin-right: 2px;
      background: transparent url('../images/icons/icons_kosmo_placemark.svg') no-repeat;

      @include bp(min, $mobile-sm) {
        margin-right: 10px;
      }
    }

    &--tel {
      width: 25px;
      margin-right: 10px;
      background: transparent url('../images/icons/icons_kosmo_call.svg') no-repeat;
    }

    &--map {
      width: 28px;
      margin-right: 11px;
      background: transparent url('../images/icons/icons_kosmo_map.svg') no-repeat;
    }

    &--arrow {
      display: none;
      float: none;
      height: 6px;
      width: 21px;
      margin-left: 7px;
      background: transparent url('../images/icons/icons_kosmo_arrow.svg') no-repeat;

      @include bp(min, $tablet-md-min) {
        display: inline-block;
      }
    }
  }

  &__city-text {
    display: none;

    @include bp(min, $desktop-lg-min) {
      display: inline-block;
    }
  }
  // USERBAR END




  // SEARCH (DESKTOP + MOBILE)
  &__search-desk {
    display: none;
    padding: 5px 15px;
    background-color: $main-color;
    @include font-size(0);

    clear: both;

    @include bp(min, $tablet-md-min) {
      display: block;
      margin-top: 10px;
      padding: 0;
      background-color: transparent;
    }

    @include bp(min, $desktop-lg-min) {
      margin-top: 16px;
    }
  }

  &__search-mob {
    padding: 5px 15px;
    background-color: $main-color;
    @include font-size(0);

    clear: both;

    @include bp(min, $tablet-md-min) {
      display: none;
    }
  }

  &__search-container {
    @include bp(min, $tablet-md-min) {
      display: inline-block;
      width: 62.6%;
    }

    @include bp(min, $desktop-sm-min) {
      width: 66%;
    }

     @include bp(min, $desktop-lg-min) {
      width: 71%;
    }
  }

  &__search-input {
    height: 40px;
    width: calc(100% - 42px);
    margin-right: -1px;
    padding: 10px 12px;
    border: 1px solid #bcbcbc;
    @include font-size(15px);
    -webkit-appearance: none;
    border-radius: 0;

    @include placeholder {
      color: $text-main;
    }

    @include bp(min, $desktop-sm-min) {
      height: 50px;
      width: calc(100% - 58px);
    }
  }

  &__search-button {
    height: 40px;
    width: 42px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    display: inline-block;

    vertical-align: top;

    @include bp(min, $desktop-sm-min) {
      height: 50px;
      width: 58px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__search-icon {
    display: inline-block;
    height: 25px;
    width: 24px;
    margin-left: 1px;
    background: transparent url('../images/icons/icons_kosmo_search.svg') no-repeat;
  }

  &__recipe-upload {
    display: inline-block;
    width: 160px;
    height: 40px;
    margin-left: 18px;
    padding-top: 10px;

    background-color: $main-color;
    color: $text-reverse;
    text-align: center;

    vertical-align: top;

    @include font-size(16px);

    @include bp(min, $desktop-sm-min) {
      height: 50px;
      margin-left: 29px;
      padding-top: 14px;
    }

    transition: background-color 0.3s;

    &:hover {
        background-color: $secondary-color;
        cursor: pointer;
    }
  }
  // SEARCH END




  // MENU
  &__menu {
    margin-top: 20px;

    @include bp(min, $tablet-md-min) {
      margin-top: 19px;
      border-top: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
    }
  }

  &__menu-container {
    @include pad(0 15px);

    @include bp(min, $tablet-md-min) {
      margin: 0 auto;
      @include pad(0 18px);
      @include outer-container($container-md-small);
    }

    @include bp(min, $desktop-sm-min) {
      @include outer-container($container-md);
    }

    @include bp(min, $desktop-lg-min) {
      @include outer-container($container-lg);
    }
  }

  &__menu-list {
    list-style-type: none;
    padding: 15px 0 0;
    margin: 0;

    @include bp(min, $tablet-md-min) {
      padding: 0;
      display: table;
    }

  }

  &__menu-item {
    border-bottom: 1px solid $text-secondary;

    &:last-child {
      border-bottom: none;
    }

    @include bp(min, $tablet-md-min) {
      display: table-cell;
      position: relative;
      height: 66px;
      border-bottom: none;
      vertical-align: middle;
      text-align: center;
    }

    @include bp(min, $desktop-lg-min) {
      height: 48px;
    }

    transition: background-color 0.3s, color 0.3s ;

    &:hover {
      background-color: $main-color;

      .header__menu-link {
        color: $text-reverse;
      }
    }

    &:hover > .header__submenu-container {
      left: 0;
      opacity: 1;
    }
  }

  &__menu-link {
    display: block;
    @include pad(19px 15px 20px);

    color: $text-main;
    @include font-size(15px);
    @include line-height(18px);
    text-decoration: none;
    text-transform: uppercase;

    @include bp(min, $tablet-md-min) {
      height: inherit;
      @include pad(16px 13px 14px);
      color: $text-secondary;
      vertical-align: middle;
      position: relative;

      &:before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 1px;
          top: 50%;
          left: 0;
          margin-top: -12px;
          height: 25px;
          background-color: $text-secondary;
      }

      &--first {
        &:before {
          content: none;
        }
      }
    }
  }

  &__menu-icon {
    float: right;
    display: inline-block;
    height: 17px;
    width: 9px;
    background: transparent url('../images/icon-arrow.png') no-repeat;

    @include bp(min, $tablet-md-min) {
      display: none;
    }
  }
  // MENU END


  // SUBMENU
  &__submenu-container {
    position: absolute;
    top: 100%;
    left: -9999px;
    opacity: 0;

    width: 713px;
    @include pad(2px 0 0);

    background-color: transparent;

    transition: opacity 0.3s;
  }

  &__submenu-list {
    margin: 0;
    @include pad(23px 0);

    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
    background-color: $main-background;

    list-style-type: none;
    text-align: left;
  }

  &__submenu-link {
    display: block;
    @include pad(2px 37px 7px);
    color: $text-main;
    @include font-size(18px);
    @include line-height(26px);
    text-decoration: none;

    &:hover {
      background-color: #f6f6f6;
    }
  }



}
