
.modal {
	width: 100%;
		
	max-width: 800px;
	margin: 0 auto;

	@include pad(16px 15px 40px); 
	border: 1px solid $alt;

	box-shadow: 0 1px 10px 0 rgba(135, 135, 135, 0.75);

	@include bp(min, $tablet-md-min) {
		display: block;
		@include pad(30px 26px 65px); 
	}

	&__controls {
		@include clearfix;
	}

	&__container {
		// @include pad(0 15px);

		@include bp(min, $tablet-md-min) {
			@include pad(0 42px);
		}
	}

	&__close {
		display: none;

		@include bp(min, $tablet-md-min) {
			display: block;
		}
	}

	&__title {
		margin: 10px 0 21px;
		@include pad(0 2px); 

		@include font-family('PFDinDisplayPro-Bold', arial);
		@include font-size(24px);
  		@include line-height(30px);

  		text-align: center;

		@include bp(min, $tablet-md-min) {
			margin: 10px 0;
			@include pad(0 120px); 
		}
	}

	&__form {
		@include pad(35px 0 0);

		@include bp(min, $tablet-md-min) {
			@include pad(40px 0 0);
		}
	}
}