

.object {

  color: $text-main;
  @include font-family('PFDinDisplayPro-Regular', arial, sans-serif);
  @include pad(31px 30px);

  &__row {
    width: 100%;
    @include row();
    @include pad(0 0 61px);

    @include bp(min, $tablet-md-min) {
      @include pad(0 0 30px);
    }
  }

  &__column {
    @include bp(min, $tablet-md-min) {
      min-height: 350px;

      @include span-columns(4);
      position: relative;
    }

    @include bp(min, $desktop-lg-min) {
      min-height: 350px;
    }

    &--pad-left {
      @include pad(0 10px 0 20px);

      @include bp(min, $tablet-md-min) {
        @include pad(0 0 0 30px);
      }
    }
  }


  // IMAGE
  &__image-container {
    height: 350px;
    margin-bottom: 35px;
    @include pad(0 44px);
    border: 1px solid #bcbcbc;
    text-align: center;
    @include line-height(350px);

    @include bp(min, $tablet-md-min) {
      margin-bottom: 0;
      @include pad(0 30px);
    }
  }

  &__image {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  // IMAGE END



  // PRODUCT INFO
  &__info {
    @include pad(0 0 53px);

    @include bp(min, $desktop-sm-min) {
      @include pad(0 0 47px);
    }
  }

  &__title {
    margin: 0 0 3px;
    color: $text-secondary;
    @include font-size(16px);
    @include line-height(24px);
  }

  &__item-title {
    margin: 0 0 24px;
    @include font-family('PFDinDisplayPro-Bold', arial, sans-serif);
    @include font-size(24px);
    @include line-height(30px);
  }


  // PRODUCT INFO
  &__text {
    margin: 0 0 20px;
    @include font-size(15px);
    @include line-height(24px);
  }

  &__button-container {

    @include bp(min, $tablet-md-min) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      @include pad(0 0 0 30px);
    }
  }

  &__button {
    display: inline-block;
    width: 100%;
    height: 50px;
    @include pad(14px);

    background-color: $main-color;
    color: $text-reverse;
    @include font-size(16px);
    text-align: center;

    vertical-align: top;

    @include bp(min, $desktop-sm-min) {
      // height: 50px;
      // @include pad(14px);
    }

    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }

    &--secondary {
      background-color: $ternary-color;
    }
  }
  // PRODUCT INFO END


  // CALL ME
  &__icon-container {
    min-height: 180px;
    padding-top: 63px;
    text-align: center;

    @include bp(min, $tablet-md-min) {
      padding-top: 37px;
    }
  }

  &__icon-tel {
    display: inline-block;
    width: 107px;
    height: 107px;

    background: transparent url('../images/icons/icons_kosmo_call back-green.svg') no-repeat;
    vertical-align: middle;
  }

  &__call-input {
    height: 50px;
    width: 100%;
    margin: 59px 0 37px;
    @include pad(10px 19px);
    border: 1px solid #bcbcbc;
    @include font-size(15px);
    -webkit-appearance: none;
    border-radius: 0;

    @include placeholder {
      color: $text-main;
    }

    @include bp(min, $tablet-md-min) {
      margin: 33px 0 37px;
    }
  }
  // CALL ME END



  // TABS
  &__tabs {
    @include pad(10px 0 0);
  }

  &__tab-list {
    list-style-type: none;
    margin: 0;
    @include pad(0);
    border: 1px solid #bcbcbc;
    @include font-size(0);
  }

  &__tab-item {
    display: inline-block;
    width: 100%;

    @include bp(min, $tablet-md-min) {
      width: auto;
      border-right: 1px solid #bcbcbc;
    }

    &--active {
      margin-bottom: -1px;
      border-bottom: 2px solid $main-color;
    }
  }

  &__tab-link {
    display: inline-block;
    width: 100%;
    @include pad(7px 25px 12px);
    color: $text-main;
    @include font-size(20px);
    @include line-height(28px);
    text-decoration: none;
  }

  &__tab-content {
    @include pad(20px 24px);
    border: 1px solid #bcbcbc;
    border-top: none;

    @include bp(min, $desktop-sm-min) {
      @include pad(20px 36px 20px 20px);
    }
  }

  &__tab-text {
    margin: 0 0 15px;
    @include font-size(16px);
    @include line-height(20px);

    word-wrap: break-word;
  }

  &__tab-title {
    margin: 0 0 15px;
    @include font-family('PFDinDisplayPro-Regular', arial, sans-serif);
    @include font-size(16px);
    @include line-height(24px);
    font-weight: normal;
    text-transform: uppercase;
  }


  // TABS END

}
