

.pharmacy-list {
	list-style-type: none;
	margin: 0;
	@include pad(0);

	@include bp(min, $tablet-md-min) {
	    display: none;
	}

	&__item {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__up-table {

	}

	&__bottom-table {
		margin-top: 10px;
	}
}



.t-table {
	display: table;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.t-row {
	display: table-row;

	&--head {
		text-align: left;
	}
}

.t-cell {
	display: table-cell;
	@include pad(13px 15px 16px);
	border: 1px solid $alt; 

	&--head {
		@include pad(10px 12px);
		border: none;
		color: $text-secondary;
	}

	&--data {
		@include pad(10px 10px 13px);
		
		@include bp(min, $mobile-sm) {
		   @include pad(10px 15px 13px);
		}
	}

	&--controls {
		min-width: 130px;
	}

	&--close {
		max-width: 60px;
		@include pad(0 2px);
		border: none;
		text-align: center;
	}
}

.t-controls-big {
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid $alt;
	background-color: #f6f6f6;
	color: $alt;
	@include font-size(36px);
	@include line-height(25px);
	text-align: center;
	font-style: normal;

	vertical-align: middle;

	&:first-child {
		margin-right: 5px;
	}
	&:last-child {
		margin-left: 5px;
	}

	&:hover {
		cursor: pointer;
	}

	@include bp(min, $mobile-sm) {
	    width: 40px;
		height: 40px;
		@include line-height(32px);
	}
}

.t-num-text {
	display: inline-block;
	min-width: 26px;

	@include bp(min, $mobile-sm) {
	    min-width: 50px;
	}
}