

.table {

	border-collapse: collapse;

	&__thead {
		color: $text-secondary;
		text-align: center;
	}

	&__tbody {
		text-align: center;
	}

	&__row {
		
	}

	&__cell {
		@include pad(13px 15px 16px);

		tbody & {
			border: 1px solid $alt; 
		}

		&--head {
			@include pad(10px 12px);
		}

		&--number {
			min-width: 105px;
		}

		&--left {
			text-align: left;
			// width: 59%;
		}

		&--adress {
			@include pad(10px 20px);
			@include line-height(28px);
		}

		&--close {
			border: none;
		}

		&--go {
			@include pad(0);
		}

		tbody &--btn {
			border: none;
            @include pad(5px 15px);

			@include bp(min, $desktop-sm-min) {
				width: 218px;
			}
		}

		tbody &--close {
			border: none;
			color: red;
			@include pad(10px 15px);

			@include bp(min, $desktop-sm-min) {
				max-width: 48px;
			    @include pad(10px 20px);
			}
		}
	}

	&__num-text {
		display: inline-block;
		width: 25px;
	}

	&__controls {
		display: inline-block;
		width: 17px;
		height: 17px;
		border: 1px solid $alt;
		color: $alt;
		text-align: center;
		font-style: normal;
		@include line-height(13px);

		&:first-child {
			margin-right: 7px;
		}
		&:last-child {
			margin-left: 7px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__btn {
		display: inline-block;
	    width: 100%;
	    min-height: 76px;
	    
	    @include pad(10px 12px 12px);
	    border: none;
	    background-color: $main-color;
	    color: #fff;
	    @include font-size(16px);
	    vertical-align: top;

        transition: background-color 0.3s;
        
	    &:hover {
	        background-color: $secondary-color;
	    	cursor: pointer;
	    }

	    @include bp(min, $tablet-md-min) {
			min-height: 40px;
		}
	}

	&__text {
		margin: 0;
	}
}
