
body {
  font-family:'PFDinDisplayPro-Regular', arial, sans-serif;
}

input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.page {

  &__wrapper {
    min-width: 320px;
    margin: 0 auto;
  }
}





// LOGO 
.logo {
  @include bp(min, $tablet-md-min) {
    margin: 18px 12px 0 0;
  }

  @include bp(min, $desktop-sm-min) {
    margin: 19px 20px 0 0;
  }

  @include bp(min, $desktop-lg-min) {
    margin: 19px 26px 0 0;
  }

  &__link {
    display: inline-block;
    width: 100%;
    font-size: 0;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    // @include bp(min, $tablet-md-min) {
    //   width: 124px;
    // }

    // @include bp(min, $desktop-sm-min) {
    //   width: 155px;
    // }

    // @include bp(min, $desktop-lg-min) {
    //   width: 177px;
    // }
  }
}
// LOGO END


.lorem {
  @include pad(15px 30px);
}



.content {
  // width: 278px;
  // @include outer-container($container-lg);
  @include pad(0 30px);
  margin: 61px auto 50px;

  &__row {
    width: 100%;
    @include row();

    @include bp(min, $tablet-md-min) {
      padding-bottom: 47px;
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    
    @include bp(max, $tablet-md-min - 1) {
      margin: 0 auto -1px;
      max-width: 278px;
    }

    @include bp(min, $tablet-md-min) {
      @include span-columns(3);
      width: 25%;
    }
  }

  &__title {
    margin: 0 0 41px 20px;
    color: $text-secondary;
    @include font-size(24px);
    @include line-height(30px);

    @include bp(min, $tablet-md-min) {
      margin: 0 0 28px;
    }
  }

  &--object {
    margin: 7px auto 50px;

    @include bp(min, $tablet-md-min) {
      margin: 7px auto 0;
    }
  }
}



// PRODUCT
.product {
  // height: 385px;
  position: relative;
  padding: 4px 18px 21px;
  border: 1px solid #bcbcbc;

  border-bottom: none;

  &:last-child {
    border-right: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
  }

  @include bp(min, $tablet-md-min) {
    margin-right: 0;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #bcbcbc;

    transition: box-shadow 0.3s;

    &:hover {
      -webkit-box-shadow: 0 0 6px 2px rgba(281, 185, 72, 0.8);
      -moz-box-shadow: 0 0 6px 2px rgba(81, 185, 72, 0.8);
      box-shadow: 0 0 6px 2px rgba(81, 185, 72, 0.8);
    }
  }

  @include font-family('PFDinDisplayPro-Regular', arial);

  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    @include bp(min, $tablet-md-min) {
      margin-left: 0;
    }

    @include bp(min, $desktop-sm-min) {
      margin-left: 18px;
    }
  }

  &__title {
    margin: -4px 0 13px;
    color: $text-main;

    @include font-family('PFDinDisplayPro-Bold', arial);
    @include font-size(18px);
    @include line-height(24px);
  }

  &__company {
    margin: 0 0 7px;
    color: $text-secondary;

    @include font-family('PFDinDisplayPro-Regular', arial);
    @include font-size(14px);
    @include line-height(20px);
    font-weight: normal;
  }

  &__price {
    margin: 0;
    color: $secondary-color;

    @include font-family('PFDinDisplayPro-Bold', arial);
    @include font-size(20px);
    @include line-height(28px);
  }

  &__button {
    display: block;
    width: 140px;
    // height: 40px;
    margin: 22px auto 0;
    @include pad(10px 12px 12px);
    border: none;
    background-color: $main-color;
    color: #fff;
    @include font-size(15px);

    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
  }

  &__offer {
    position: absolute;
    top: -1px;
    left: -1px;

    display: block;
    width: 82px;
    height: 82px;
    
    color: $text-reverse;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
  
      border-top: 82px solid #ff2a00;
      border-right: 82px solid transparent;
      border-bottom: 0;
    }
  }

  &__offer-promotion {
    display: table-cell;
    padding: 20px 3px;
    vertical-align: middle;
    
    @include line-height(14px);
    transform: rotate(-45deg);
  }
}
// PRODUCT END


// DEL
.prod {
  margin: 17px 0;
  text-align: center;
}


.slider {
  // height: 580px;
  background-color: #f3f3f3;
  border-bottom: 2px solid $ternary-color;

  &__container {
    @include bp(min, $tablet-md-min) {
      @include outer-container($container-md-small);
      @include clearfix;
      @include pad(0 30px);
      height: auto;
    }

    @include bp(min, $desktop-sm-min) {
      @include outer-container($container-md);
    }

    @include bp(min, $desktop-lg-min) {
      @include outer-container($container-lg);
    }
  }

  &__link {
    display: block;
    font-size: 0;
  }

  &__image {
    max-width: 100%;
  }
}


.close-container {
  @include pad(13px 6px);

  &:hover {
    cursor: pointer;
  }
}

.close-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/icons/close-icon_red.svg') no-repeat;

  
  &--mini-table {
    margin-top: -5px;
    vertical-align: middle;
  }

  &--gray {
    background: url('../images/icons/close-icon_gray.svg') no-repeat;
  }

  cursor: pointer;
}

.icon-double-arrow {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('../images/icons/icon-double-arrows.png') no-repeat;
}


.review,
.receipt {
  margin: 39px auto 44px;
  @include pad(0 15px);
}

