/* here you can put your own css to customize and override the theme */
.page-header .navbar .navbar-nav > li > a {
  padding: 10px 9px;
}

.page-header .navbar .page-logo {
  /* float: left; */

  /* height: 50px; */
  max-height: 50px;
  line-height: 20px;
  margin-right: 10px;
}

@media (min-width: 991px) {
  .page-header .navbar-collapse {
    margin-top: 13px;
  }
}

@media (min-width: 991px) {
  .page-header .navbar-fixed-top {
    padding: 5px 25px 5px 0;
    position: static;

    /* background: #2f373e; */
  }
}

@media (max-width: 991px) {
  .page-header .navbar-fixed-top {
    margin: 6px auto;
  }
}

@media (min-width: 991px) {
  .page-header .topbar-actions {
    top: 5px;
  }
}

@media (max-width: 480px) {
  .page-header .topbar-actions {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .page-header .page-logo {
    display: inline-block;
  }
}

.page-header .mega-menu .quick-sidebar-toggler {
  position: static;
}

.page-header .navbar .topbar-actions .btn-group-img .btn {
  position: static;
}

.topbar-actions .page-logo {
  position: relative;
}

@media (max-width: 991px) {
  .page-header .nav-collapse .navbar-nav > li > a::after {
    top: 12px;
  }
}

.dropdown-menu-v2 {
  margin: 15px 0;
}

.modal .modal-footer {
  border-top: 1px solid #e5e5e5 !important;
}
