.deliverySchedules td.input {
  padding-top: 0;
}

.deliverySchedules > tbody > tr > td:first-child,
.deliverySchedules > tbody > tr > td:last-child {
  vertical-align: middle;
  cursor: pointer;
}

.deliverySchedules > tbody > tr > td:first-child i {
  margin-top: 4px;
}

a.custom-collapse.deliverySchedules {
  background-image: url("../../../public/assets/global/img/portlet-collapse-icon.png");
  width: 14px;
  visibility: visible;
  display: inline-block;
  height: 16px;
  opacity: 1;

  /* margin-left: 5px; */
}

.deliverySchedules i {
  cursor: pointer;
}

td:hover .font-hover-green-jungle {
  color: #26C281 !important;
}

td:hover .font-hover-red {
  color: #E7505A !important;
}
