.sync-problem-bg-opacity {
  background-color: rgba(224, 130, 131, 0.4) !important;
}

.sync-problem--hover {
  position: absolute;
  top: 1%;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.sync-problem {
  position: relative;
  width: 100%;
  height: 100%;
}
