// ----------------------
// == Normalize
// ----------------------
@import "normalize/variables";
@import "normalize/normalize-mixin";
@import "normalize/vertical-rhythm";
@include normalize();

// ----------------------
// == Base styles
// ----------------------


@include font-face($font-normal, "../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular", normal, $file-formats: eot woff svg);
@include font-face($font-bold, "../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold", normal, $file-formats: eot woff svg);

.container {
  @include bp($tablet-md-min, $tablet-max) {
    @include outer-container($container-md-small);
  }

  @include bp(min, $desktop-sm-min) {
    @include outer-container($container-md);
  }

  @include bp(min, $desktop-lg-min) {
    @include outer-container($container-lg);
  }
}


