.nosology{
	&__add-synonyms{

	}
	&__add-input.form-group.form-md-line-input{
		margin-bottom: 0;
	}
	&-list{
		padding: 0;
		margin: 0 auto 10px ;

		&__item{
			list-style: none;
			padding: 5px 10px;
			background: transparent;
			cursor: pointer;
			border-bottom: 1px solid #c2cad8;
			transition: background .4s;
			
			&:hover{
				background: white;
				transition: background .4s;
			}
		}
	}
	&-nf-results{
		margin: 10px auto;
	}
	&-synonym__input{
		margin-bottom: 10px;
	}
}