.product{
	&-caption{
		display: block !important;
		float: none !important;
		width: 100%;
		text-align: center;
		&__left,&__center,&__right{
			display: inline-block;
			width: 33.33333%;

			@include bp(max, $mobile-max){
				display: block;
				width: 100%;
				margin-bottom: 10px;
			}
		}
		&__left{
			text-align: left;
		}
		&__center{}
		&__right{
			.mt-checkbox{
				margin-left: 15px;
			}
		}
	}
}