.cat-tree{
  padding: 0;
  margin: 10px auto;

  li{
    list-style: none;
    word-wrap: break-word;
    line-height: normal;
  }

  &__item{
  }

  &__root-cat{
    padding: 10px 15px;
    background: #26c281;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

}
.sub-tree{
  padding-left: 10px;
  @include bp(max,$mobile-max){
    padding-left: 0;
  }

  &__cat{
    padding: 10px 15px;
    background: #3598dc;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }
}
.tree-items{
  padding-left: 0;
  margin-left: 10px;

  .table-scrollable{
    margin: 0 !important;
  }
}


