.react-bs-table {
  margin: 10px 0;
}

.react-bs-table {
  border-radius: 0;
}

.react-bs-table table td {
  overflow: hidden;
  // white-space: normal;
  text-overflow: ellipsis;
}

.react-bs-table table th {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.react-bs-table-tool-bar {
  margin: 10px 0 0;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: top;
}

.my-tabel {
  padding: 5px;
  /* vertical-align: top; */
}
