@import "utils/utils";
@import "layout/layout";
@import "date-picker.scss";
@import "node_modules/react-select/scss/default";
@import "react-date-picker.css";
@import "tree-list.css";
@import "rc-collapse.scss";
@import "react-bootstrap-tabel-custom.scss";
@import "~react-bootstrap-table/css/react-bootstrap-table.css";
@import '~react-s-alert/dist/s-alert-default.css';
@import '~react-s-alert/dist/s-alert-css-effects/scale.css';
@import '../containers/PharmaciesItem/style.css';
@import '../containers/NomenclatureItem/style.css';

// добавив, бо з сервера приходят назви товарів, в яких 2 і більше "пробєла"
// css правило зберігає кількість "пробєлів", яке приходить з сервера
td {
  white-space: pre-wrap;
}

mark {
  padding: 0;
  background-color: yellow;
}

.label-lg {
  font-size: 12px;
  padding: 3px 6px;
}

.label-green-turquoise {
  background-color: #36D7B7;
}

.label-grey-steel {
  background-color: #ACB5C3;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.text-center {
  text-align: center;
}

.vertical-middle {
  vertical-align: middle !important;
}

.block-center{
  display: block;
  margin: auto;
}

.tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #F7CA18
}

.tabbable-custom > .tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.center {
  text-align: center;
}

.preloader {
  position: absolute;
  width: 6%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pharmacy-code {
  margin: 15px 0;
}

.phones {
  margin: 0 0 10px;
}

.image-container {
  width: 100%;
  height: 320px;
  margin: 10px 0;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.btn-margin {
  margin-bottom: 10px;
}

.close-modal-btn {
  margin-right: 20px;
}

.save-modal-btn {
  margin-top: 20px;
}

.archive {
  margin: 10px;
}

.strong {
  font-weight: bold;
}

.bordertext {
  margin: 0 60px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding: 10px 15px;
  width: 100px;
  height: 40px;
}

.textwidth {
  display: inline-block;
  width: 250px;
}

.goodsprice {
  text-align: center;
}

.goodsprice-input {
  margin: 0 auto;
  width: 50%;
}

.select-stock{//стиль селекта вибору аптек
  width: 500px;
  margin-top:10px;


}
.tabbable-custom{

  overflow: visible;
}
.stock-input {// стиль інпута вводу акцій
  margin-top:10px ;
  margin-bottom: 10px;
  display: inline-block;
  width: 500px;
}

.discount-input{ // стиль до інпута базової скидки
  margin-left: 20px;
  display: inline-block;
  width: 60px;
  background-color: lightgreen;

  &--disabled{
    background-color:lightgreen !important;
    color: black;
    margin-top: 15px;

  }

}
input.radio-input{ //стилі до радіобатонів
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;

}
input.radio-input2{
  margin-left: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}
.goods-producer{ //селекти вибору категорій і виробника
  display: inline-block;
  margin-bottom: 10px;
  min-width: 100px;
  width:500px;

}
.goods-producer2{
  display: inline-block;
  margin-bottom: 10px;
  min-width: 100px;
  width:500px;
  margin-left: 20px;
}

.search-goods{
  margin-bottom: 10px;
  display: inline-block;
  width: 500px;

}

.dropdown-fw.menu-sublist{
  display: none;
}

.dictionaries-link.active.open ~ .dictionaries-sublist {
    display: block;
}
.according{
  margin: 10px;
}

.btn-delete{
  margin-left: 5px;

}

.btn-delete-pharmacy{
  margin-left: 150px;

}

.paharmacy_with_stock{
  display: inline-block;

}
.confirm-label{

  text-align: center;

}
.confirm{
  text-align: center;
}

.confirm-btn{
  margin-left: 10px;
}

.right-btn-minus{
  float: right;
}

.discount-table td{
  vertical-align: middle !important;
}

.save-discount-pharmacy {
  float: right;
}

.portlet-title .tools a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none !important;
  }
}

.th-center.table-scrollable>.table>thead>tr>th {
  white-space: normal;
  vertical-align: top;
  text-align: center;
}

.th-right.table-scrollable>.table>thead>tr>th {
  white-space: normal;
  vertical-align: top;
  text-align: right;
}

.td-right.table-scrollable>.table>tbody>tr>td,
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// .text-right {
//   text-align: right;
// }

.th-middle.table-scrollable>.table>thead>tr>th {
  vertical-align: middle;
}

.tr-center.table>thead>tr>th,
.td-center.table>tbody>tr>td {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.portlet .actions .form-control {
  // display: inline-block;
}

.mt-checkbox > span.checkbox-white::after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// Стили для option в вкладке заказы
.Select-option-in-order {
  padding: 4px 10px;
  font-size: 12px;
}

// Стили для Button in textArea
.textArea-with-button .textArea-with-button__button {
  position: absolute;
  top: 25px;
  left: 3px;
  height: 34px;
  width: 150px;
}

.textArea-with-button .textArea-with-button__input {
  padding-top: 40px;
  //padding-left: 151px;
}
