$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;
$highlighted-color: #3dcc4a;
$muted-color: #ccc;
$text-color: #000;

$font-size: 1.4rem;
$border-radius: .3rem;
$item-size: 2.1rem;
$day-margin: .366rem;
$triangle-size: 8px;
$datepicker__margin: .4rem;
$navigation-size: .45rem;
